@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/Raleway.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html {
  background-color: white;
}

body {
  position: relative;
  margin: 0;
  background-color: white;
  font-size: 16px;
}

:focus-visible {
  outline: #FFFFFF solid 0.1rem;
  border-color: #001326;
}

/* Welcome message */
h1 {
  font-weight: lighter;
  font-size: 2.6em;
}

/* Application name */
h2 {
  font-size: 1.4em;
}

/* TOTP Code */
h3 {
  font-size: 1.2em;
}

input[type=text],
input[type=password] {
  display: inline-block;
  background-color: rgba(0, 19, 38, 0.3);
  font-size: inherit;
  width: 100%;
  height: 40px;
  padding: 10px 15px;
  margin: 10px 0;
  color: white;
  border: 1px solid #002549;
  border-radius: 6px;
  box-sizing: border-box;
}

input::placeholder {
  color: #0052A1;
}

button {
  background-color: rgba(0, 19, 38, 0.7);
  font-size: inherit;
  width: 100%;
  height: 40px;
  padding: 10px 15px;
  margin: 10px 0;
  color: white;
  border: 1px solid #002549;
  border-radius: 6px;
  cursor: pointer;
}
button.disable {
  cursor: default;
  background-color: rgba(0, 19, 38, 0.2);
}

button:hover {
  background-color: rgba(0, 19, 38, 0.5);
  outline: #FFFFFF solid 0.1rem;
}
button:hover.disable {
  outline: none;
  cursor: default;
  background-color: rgba(0, 19, 38, 0.2);
  box-shadow: none;
}

/* Vertical space */
.vs-15 {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 15px;
}

.vs-5 {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 5px;
}

/* Default text styles */
.text {
  font-family: "Raleway", sans-serif;
  color: white;
  text-decoration: none;
}

.text-dark {
  font-family: "Raleway", sans-serif;
  color: black;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

/* Horizontal line */
.hr {
  margin: 5px auto;
  height: 1px;
  border-width: 0;
  color: #002549;
  background-color: #002549;
}

/* Company logo */
.logo {
  width: 200px;
  display: block;
  margin: 0 auto;
  filter: drop-shadow(5px 5px 5px #002549);
}

/* Labels for input fields */
.box-label {
  display: block;
  width: 100%;
  margin-top: 15px;
}

.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Containers */
.main-container,
.footer-container,
.header-container,
.infobox-container {
  position: inherit;
  width: 550px;
  height: auto;
  border-radius: 20px;
  background-color: #003366;
  margin: 50px auto;
  box-shadow: 0 0 2px white;
  padding: 35px;
}

.main-container {
  box-shadow: 0 0 25px #7E7E7E;
}

.header-container {
  box-shadow: none;
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
  text-align: right;
}

.infobox-container {
  width: 480px;
  border: 1px solid #002549;
  border-radius: 6px;
  box-shadow: 0 0 2px white;
  margin: 25px 0;
}

.error {
  background-color: #BA3C00;
  border: none;
  box-shadow: none;
}

.notify {
  border: none;
  background-color: #002549;
  box-shadow: 0 0 5px #002549;
}

/* TOTP QR code */
#totp-code {
  display: flex;
  width: 300px;
  margin: auto;
  justify-content: space-evenly;
  padding-left: 0;
}
#totp-code > #code_1, #totp-code #code_2, #totp-code #code_3, #totp-code #code_4, #totp-code #code_5, #totp-code #code_6 {
  flex: 0 0 auto;
}

input[type=text].totp-digit {
  font-size: 1.4em;
  width: 45px;
  height: 45px;
}

#totp {
  background-color: white;
  box-shadow: 0 0 5px #002549;
}

#totp > div {
  display: block;
  margin: 0 auto;
  width: 320px;
  height: 320px;
}

#totp > div > img:hover {
  box-shadow: 0 0 15px #001326;
  transition: 0.2s;
}

#totp > div > img:active {
  box-shadow: none;
  transition: 0.2s;
}

#totp-copied p {
  padding: 0;
  margin: 0 auto;
}

/* Device */
.device {
  background-color: rgba(0, 19, 38, 0.4);
}

/*
 * Policy and terms of service section
 */
.footer-container {
  width: 620px;
  box-shadow: none;
  background-color: transparent;
  padding: 0;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
}
.navigation > li {
  list-style-type: none;
  flex: 0 0 auto;
}
.navigation > li > a {
  padding: 0 10px;
}

/*
 * Media adjustments for smaller display sizes
 */
@media (max-width: 400px) {
  .logo {
    width: 150px;
  }
  .main-container, .footer-container, .header-container {
    width: 300px;
  }
  .infobox-container {
    width: 230px;
  }
  .footer-container {
    width: 360px;
  }
  /* TOTP QR code */
  #totp > div {
    width: 200px;
    height: 200px;
  }
}

/*# sourceMappingURL=style.css.map */
