<!DOCTYPE html>
<html lang="{{ .LanguageTag }}">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#FFFFFF" />
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>

<body>
    <header class="header-container">
        <nav class="text-dark">
            <span class="bold">{{ .LanguageCurrentName }}</span>
            {{ range .LanguagePassive }}
            <a class="text-dark" href="{{ .LanguageLink }}" role="button" aria-pressed="true">{{ .LanguageName }}</a>
            {{ end }}
        </nav>
    </header>

    <main class="main-container">
        <section>
            <article class="text">
                {{ if .WantWelcome }}
                <h1 class="center">{{ .Welcome }}</h1>
                {{ end }}

                <!-- <img src="{{ .LogoImage }}" class="logo" alt="{{ .LogoImageAlt }}"/> -->

                <div class="infobox-container notify center">
                    <span>{{ .LogoutMessage }}</span>
                </div>

                <form action="{{ .PostLogoutEndpoint }}/post" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}"/>
                    <input type="hidden" name="ory.hydra.logout_challenge" value="{{ .LogoutChallenge }}"/>

                    <button type="submit" id="accept" name="submit" value="accept">
                        {{ .AcceptSubmit }}
                    </button>
                    <button type="submit" id="reject" name="submit" value="reject">
                        {{ .RejectSubmit }}
                    </button>
                </form>
            </article>
        </section>
    </main>
</body>

</html>