name: Release Build

on:
  push:
    tags:
      - 'v*'

env:
  APP_NAME: 'nauthilus'
  MAINTAINER: 'croessner'
  DESC: 'Multi purpose authentication server'
  CHGELOG_VERSION: '0.15.4'
  GOEXPERIMENT: greenteagc

jobs:
  build-artifact:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux]
        goarch: [amd64, arm64]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.25.x
      - run: |
          VERSION=${GITHUB_REF#refs/tags/}
          COMMIT=${GITHUB_SHA:0:8}
          BUILD_TIME=$(date -u +'%Y-%m-%dT%H:%M:%SZ')
          LDFLAGS="-s -w -X main.buildTime=${BUILD_TIME} -X main.version=${VERSION}-${COMMIT}"

          GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -mod=vendor -tags="netgo" -trimpath -ldflags="$LDFLAGS" -o nauthilus ./server
          GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -mod=vendor -trimpath -ldflags="-s -w" -o nauthilus-client ./client
          GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -mod=vendor -trimpath -ldflags="-s -w" -o oidctestclient ./contrib/oidctestclient
          GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -mod=vendor -trimpath -ldflags="-s -w" -o saml2testclient ./contrib/saml2testclient
      - name: Create artifact
        run: |
          os="${{ runner.os }}"
          assets="${{ env.APP_NAME }}-${{ matrix.goos }}-${{ matrix.goarch }}"
          echo "$assets"
          mkdir -p "dist/$assets"
          cp nauthilus nauthilus-client oidctestclient saml2testclient LICENSE README.md NOTICE.md "dist/$assets/"
          cp systemd/${{ env.APP_NAME }}.service "dist/$assets/"
          cp -r server/resources server/lua-plugins.d static "dist/$assets/"
          cp contrib/oidctestclient/README.md "dist/$assets/README-oidctestclient.md"
          cp contrib/saml2testclient/README.md "dist/$assets/README-saml2testclient.md"
          (
            cd dist
            tar czf "$assets.tar.gz" "$assets"
            ls -lah *.*
          )
        shell: bash

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifact-${{ matrix.goos }}-${{ matrix.goarch }}
          path: |
            dist/*.tar.gz

  build-linux-packages:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [ linux ]
        goarch: [ amd64, arm64 ]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.25.x
      - run: |
          VERSION=${GITHUB_REF#refs/tags/}
          COMMIT=${GITHUB_SHA:0:8}
          BUILD_TIME=$(date -u +'%Y-%m-%dT%H:%M:%SZ')
          LDFLAGS="-s -w -X main.buildTime=${BUILD_TIME} -X main.version=${VERSION}-${COMMIT}"

          GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -mod=vendor -tags="netgo" -trimpath -ldflags="$LDFLAGS" -o nauthilus ./server
          GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -mod=vendor -trimpath -ldflags="-s -w" -o nauthilus-client ./client
          GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -mod=vendor -trimpath -ldflags="-s -w" -o oidctestclient ./contrib/oidctestclient
          GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -mod=vendor -trimpath -ldflags="-s -w" -o saml2testclient ./contrib/saml2testclient

      - name: Copy binaries and resources
        run: |
          for pkg in .debpkg .rpmpkg; do
            mkdir -p $pkg/usr/local/sbin
            mkdir -p $pkg/usr/lib/systemd/system
            mkdir -p $pkg/usr/share/nauthilus/resources
            mkdir -p $pkg/usr/share/nauthilus/static
            mkdir -p $pkg/usr/share/nauthilus/lua-plugins.d
            mkdir -p $pkg/usr/share/doc/nauthilus/oidctestclient
            mkdir -p $pkg/usr/share/doc/nauthilus/saml2testclient

            cp nauthilus nauthilus-client oidctestclient saml2testclient $pkg/usr/local/sbin/
            cp systemd/${{ env.APP_NAME }}.service $pkg/usr/lib/systemd/system/
            cp -r server/resources/* $pkg/usr/share/nauthilus/resources/
            cp -r static/* $pkg/usr/share/nauthilus/static/
            cp -r server/lua-plugins.d/* $pkg/usr/share/nauthilus/lua-plugins.d/

            cp LICENSE README.md NOTICE.md $pkg/usr/share/doc/nauthilus/
            cp contrib/oidctestclient/README.md $pkg/usr/share/doc/nauthilus/oidctestclient/
            cp contrib/saml2testclient/README.md $pkg/usr/share/doc/nauthilus/saml2testclient/
          done

      - name: Build DEB
        uses: jiro4989/build-deb-action@v3
        with:
          package: ${{ env.APP_NAME }}
          package_root: .debpkg
          maintainer: ${{ env.MAINTAINER }}
          version: ${{ github.ref }}
          arch: '${{ matrix.goarch }}'
          desc: '${{ env.DESC }}'

      - name: Build RPM
        uses: jiro4989/build-rpm-action@v2
        with:
          package: ${{ env.APP_NAME }}
          package_root: .rpmpkg
          maintainer: ${{ env.MAINTAINER }}
          version: ${{ github.ref }}
          arch: '${{ matrix.goarch }}'
          desc: '${{ env.DESC }}'
          summary: '${{ env.DESC }}'

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifact-${{ matrix.goos }}-${{ matrix.goarch }}-pkgs
          path: |
            ./*.deb
            ./*.rpm

  create-release:
    runs-on: ubuntu-latest
    needs:
      - build-artifact
      - build-linux-packages
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate changelog
        run: |
          wget https://github.com/git-chglog/git-chglog/releases/download/v${{ env.CHGELOG_VERSION }}/git-chglog_${{ env.CHGELOG_VERSION }}_linux_amd64.tar.gz
          tar xzf git-chglog_${{ env.CHGELOG_VERSION }}_linux_amd64.tar.gz
          chmod +x git-chglog
          ./git-chglog --output ./changelog $(git describe --tags $(git rev-list --tags --max-count=1))

      - name: Install GitHub CLI
        run: sudo apt update && sudo apt install -y gh

      - name: Create Release
        env:
          GH_TOKEN: ${{ secrets.NAUTHILUS_RELEASE }}
        run: gh release create ${{ github.ref_name }} ./changelog --title "Release ${{ github.ref_name }}" --notes-file ./changelog --draft=false --prerelease=false

  upload-release:
    runs-on: ubuntu-latest
    needs: create-release
    strategy:
      matrix:
        goos: [ linux ]
        goarch: [ amd64, arm64 ]
        include:
          - os: ubuntu-latest
            asset_suffix: .tar.gz
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install GitHub CLI
        run: sudo apt update && sudo apt install -y gh

      - name: Download Artifact
        env:
          GH_TOKEN: ${{ secrets.NAUTHILUS_RELEASE }}
        run: gh run download --name artifact-${{ matrix.goos }}-${{ matrix.goarch }}

      - name: Upload Asset
        env:
          GH_TOKEN: ${{ secrets.NAUTHILUS_RELEASE }}
        run: gh release upload ${{ github.ref_name }} ${{ env.APP_NAME }}-${{ matrix.goos }}-${{ matrix.goarch }}${{ matrix.asset_suffix }}

  upload-linux-packages:
    runs-on: ubuntu-latest
    needs: create-release
    strategy:
      matrix:
        goos: [ linux ]
        goarch: [ amd64, arm64 ]
        pkg: [ deb, rpm ]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install GitHub CLI
        run: sudo apt update && sudo apt install -y gh

      - name: Download Artifact
        env:
          GH_TOKEN: ${{ secrets.NAUTHILUS_RELEASE }}
        run: gh run download --name artifact-${{ matrix.goos }}-${{ matrix.goarch }}-pkgs

      - run: echo "ASSET_NAME=$(ls *.${{ matrix.pkg }} | head -n 1)" >> "$GITHUB_ENV"

      - name: Upload Asset
        env:
          GITHUB_TOKEN: ${{ secrets.NAUTHILUS_RELEASE }}
        run: gh release upload ${{ github.ref_name }} $ASSET_NAME
